{% extends "base.html" %}

{% block content %}
<div class="col-md-12 text-left">
		<h2 class="display-4">
				{{ CompanyName }}
				<small class="text-muted">({{ symbol }})</small>
		</h2>
</div>
<div class="row">
	<div class="pt-4 col-sm-6 pl-5">
		<dl class="row text-left">
			<dt class="col-sm-6">consensusEPS</dt>
			<dd class="col-sm-6">{{ data.consensusEPS }}</dd>

			<dt class="col-sm-6">announceTime</dt>
			<dd class="col-sm-6">{{ data.announceTime }}
			</dd>

			<dt class="col-sm-6">numberOfEstimates</dt>
			<dd class="col-sm-6">{{ data.numberOfEstimates }}</dd>

			<dt class="col-sm-6">reportDate</dt>
			<dd class="col-sm-6">{{ data.reportDate }}</dd>

			<dt class="col-sm-6">fiscalPeriod</dt>
			<dd class="col-sm-6">{{ data.fiscalPeriod }}</dd>

			<dt class="col-sm-6">fiscalEndDate</dt>
			<dd class="col-sm-6">{{ data.fiscalEndDate }}</dd>

			<dt class="col-sm-6">currency</dt>
			<dd class="col-sm-6">{{ data.currency }}</dd>
		</dl>
	</div>
{% endblock %}