{% extends "base.html" %}

{% block content %}

{% csrf_token %}





<div>
    <h2> Your stocks and balance worth: {{ money }}</h2>
    <h2> Your balance is: {{ balance}}</h2>
    <h2> Your current stocks:</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Stock Recent Price</th>
            <th scope="col">Total Stock Price</th>

        </tr>
    </thead>
    <tbody>
        {% for stock_symbol, data in stocks_data.items %}
            <tr>
                <td>{{stock_symbol}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.current_price}}</td>
                <td >{{data.total_stock_price}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>




{% endblock %}